h1 {
    background-image: url(pattern.jpg);
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
}
.sub1 {
    background-color: mediumspringgreen;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color:white;
}
.sub2 {
    background-color: lightcoral;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color:white;
}
.sub3 {
    background-color: skyblue;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color:white;
}
span {
    font-family: helvetica;
    font-weight: bold;
    color: blue;
}

